<footer class="footer">
    <div class="f-info">
        <div class="f-social-links">
            <i class="fa-brands fa-instagram" style="color: rgb(242, 77, 77)"></i>
            <i class="fa-brands fa-linkedin" style="color: #0a66c2"></i>            
            <i class="fa-brands fa-whatsapp" style="color: #25D366"></i>        
        </div>
        <div>&copy; Team Nirvana All right reserved</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>