<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-user-tie"></i>
          <!-- <img src="../includes/logomain.jpg" alt=""class="logoGe"> -->
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Home</a>
          <a class="nav-link" href="/listings/new">Hire</a>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!userInfo){%>
            <a class="nav-link" aria-current="page" href="/login"><button  class="btn btn-outline-success">Login</button></a>
            <a class="nav-link" href="/signup"><button  class="btn btn-outline-info">Signup</button></a>
          <%}%>
          <%if(userInfo){%>
            <a class="nav-link" href="/logout"><button class="btn btn-outline-danger">Logout</button></a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>