<%-layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h2>Login</h2>
            <form action="/login"method="post" class="needs-validation"novalidate>
                <div class="mb-3">
                    <label for="username"class="form-label">Enter Username</label>
                    <input type="text"id="username"name="username"class="form-control"placeholder="abc"required>
                    <div class="invalid-feedback">Username required</div>
                </div>
                <div class="mb-3">
                    <label for="password"class="form-label">Enter Password</label>
                    <input type="password"id="password"name="password"class="form-control"required>
                    <div class="invalid-feedback">Password required</div>
                </div>
                <button class="btn btn-success mb-3">Login</button>
            </form>
        </div>
    </div>
</body>